<h1>{{homeCtrl.message}}</h1>

<div>HTML Exercises and Quiz Test</div>

<ul>
    <li>Test your HTML skills at W3Schools!</li>
    <li>Start HTML Quiz!</li>
    <li>Start HTML Exercises!</li>       
</ul>

<fieldSet>
    <legend>Home</legend>
    Custom Data 1: {{homeCtrl.homeCustomData1}}
    <br />
    Custom Data 2: {{homeCtrl.homeCustomData2}}
</fieldSet>

<fieldSet>
    <legend>Courses</legend>
    Custom Data 1: {{homeCtrl.coursesCustomData1}}
    <br />
    Custom Data 2: {{homeCtrl.coursesCustomData2}}
</fieldSet>