<h1>Student Details</h1>

<table style="border: 1px solid black">
    <tr>
        <td>Id</td>
        <td>{{employeeDetailsCtrl.employee.id}}</td>
    </tr>

    <tr>
        <td>Name</td>
        <td>{{employeeDetailsCtrl.employee.name}}</td>
    </tr>

    <tr>
        <td>Gender</td>
        <td>{{employeeDetailsCtrl.employee.gender}}</td>
    </tr>

    <tr>
        <td>Salary</td>
        <td>{{employeeDetailsCtrl.employee.salary}}</td>
    </tr>
</table>

<a href="#/employee">Back to Employee List</a>